<template>
  <div class="schedule-panel" :class="{'--full': enableViewFullContent}">
    <ScheduleControl
      :date="currentDate"
      @handleNextButton="handleNextButton"
      @handlePreviousButton="handlePreviousButton"
    />
    <ScheduleMain
      :date="currentDate"
      :items="items"
    />
    <div class="schedule-panel__show-full" v-if="!enableViewFullContent">
      <button @click="enableViewFullContent=true">{{ $t('schedule.view-full-content') }}</button>
    </div>
  </div>
</template>

<script>
import * as utils from './utils';
import * as api from '@/api/schedule';
import { setLocale } from '@/units/i18n';
import ScheduleMain from './ScheduleMain';
import ScheduleControl from './ScheduleControl';

const formatScheduleItems = function(items, options = {}) {
  return items.reduce(function (formatted, item) {
    return formatted.concat(formatScheduleItem(item, options));
  }, [])
}

/**
 * 將包含 start 與 end 的時間區間資料，展開為每半小時間隔的時間資料物件。
 * @param  {Object} item         {start, end}
 * @param  {Object} [options={}] 附加資料
 * @return {Array}
 * @example
 *
 * formatScheduleItem({ start:"2020-04-30T15:00:00Z", end:"2020-04-30T17:00:00Z" }, { booked: true })
 * // => [
 *     { time: "2020-04-30T15:00:00Z", booked: true },
 *     { time: "2020-04-30T15:30:00Z", booked: true },
 *     { time: "2020-04-30T16:00:00Z", booked: true },
 *     { time: "2020-04-30T16:30:00Z", booked: true },
 *   ]
 */
const formatScheduleItem = function(item, options = {}) {
  let { start, end } = item;

  start = parseTime(start);
  end = parseTime(end);

  if (! (start && end)) return [];

  // 計算開始與結束的時間差 (單位為毫秒)，除以 30 分鐘間隔
  // ，可以得到要生成的資料總數
  let count = Math.round((end - start) / (30 * 60000))
  if (count < 1) return [];

  // 以每次增加 30 分鐘，將 Date 物件填充到陣列。
  return Array(count)
    .fill(null)
    .map((n, step) => ({
      ...options,
      time: new Date(start + step * 30 * 60000),
    }))
}

/**
 * 轉換為時間戳 (單位為毫秒)
 * @param  {mixed} v
 * @return {integer}
 */
const parseTime = function(v) {
  return new Date(v).getTime();
}

export default {
  name: 'SchedulePanel',
  components: {
    ScheduleMain,
    ScheduleControl,
  },

  props: {
    date: { type: Date, default: () => new Date },
  },

  data() {
    return {
      currentDate: this.date,
      items: [],
      enableViewFullContent: false,
    }
  },

  mounted() {
    this.fetch();

    let lang = new URLSearchParams(location.search).get('lang');
    if (lang) {
      setLocale(lang);
    }
  },

  methods: {
    fetch(startAt = null) {
      if (startAt) {
        this.currentDate = startAt;
      } else {
        startAt = this.currentDate;
      }

      this.items = [];

      api.fetch({started_at: startAt})
        .then((res) => {
          let items = [
            ...formatScheduleItems(res.available),
            ...formatScheduleItems(res.booked, { booked: true }),
          ];

          this.items = items;
        })
    },

    handlePreviousButton() {
      let previous = utils.getFirstDayOfPreviousWeek(this.currentDate);
      if (previous < utils.getFirstDayOfWeek(new Date)) return;

      this.fetch(previous);
    },

    handleNextButton() {
      let next = utils.getFirstDayOfNextWeek(this.currentDate);
      this.fetch(next);
    },
  },
}
</script>

<style lang="less">
@import "style.less";
</style>