<template>
  <div class="schedule-column" :class="{'--disabled': disabled}">
    <div class="schedule-column__head">
      <p>{{ formattedWeekDay }}</p>
      <p>{{ formattedDate }}</p>
    </div>
    <div class="schedule-column__content">
      <template v-if="! disabled">
        <div
          class="schedule-column__item"
          v-for="(item, index) in sortedItems"
          :key="index"
          :class="{'--booked': item.booked}"
        >
          {{ item.time | formatTime }}
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import * as utils from './utils';

export default {
  name: 'ScheduleColumn',

  props: {
    date: {
      type: Date,
      required: true,
    },
    items: {
      type: Array,
      default: () => [],
    },
  },

  computed: {
    formattedWeekDay() {
      let weekDay = [
        'sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat'
      ][this.date.getDay()];

      return this.$i18n.t(`weeks.${weekDay}`);
    },

    formattedDate() {
      let date = this.date.getDate();
      return ((date < 10) ? '0' : '') + date;
    },

    sortedItems() {
      return [...this.items].sort((a, b) => {
        if (a.time > b.time) return 1;
        if (a.time < b.time) return -1;
        return 0;
      })
    },

    disabled() {
      if (this.$attrs.disabled) return true;
      if (this.items.length <= 0) return true;
      if (this.date < utils.getDateWithoutTime(new Date)) return true;

      return false;
    },
  },

  filters: {
    formatTime(v) {
      let hours = v.getHours();
      let minutes = v.getMinutes();

      hours = ((hours < 10) ? '0' : '') + hours;
      minutes = ((minutes < 10) ? '0' : '') + minutes;

      return `${hours}:${minutes}`;
    }
  }
}
</script>