<template>
  <div class="schedule-control">
    <div class="schedule-control__buttons">
      <button
        class="schedule-control__button"
        @click="$emit('handlePreviousButton')"
        :disabled="disablePreviousButton"
      >&lt;</button>
      <button
        class="schedule-control__button"
        @click="$emit('handleNextButton')"
      >&gt;</button>
    </div>
    <div class="schedule-control__period">
      {{ periodText }}
    </div>
    <div class="schedule-control__text">
      <span>{{ $t('schedule.timezone-description', [timezoneString, timezoneAbbreviation]) }}</span>
    </div>
  </div>
</template>

<script>
import * as utils from './utils';

export default {
  name: 'ScheduleControl',

  props: {
    date: {
      default: () => new Date,
    },
  },

  data() {
    return {
      columns: [],
    }
  },

  computed: {
    periodText() {
      let startAt = utils.getFirstDayOfWeek(this.date);
      let endAt = utils.getLastDayOfWeek(this.date);

      let year = startAt.getFullYear();
      let month = startAt.getMonth() + 1;
      let from = startAt.getDate();
      let to = endAt.getDate() + 1;

      month = ((month < 10)? '0' : '') + month;
      from = ((from < 10)? '0' : '') + from;
      to = ((to < 10)? '0' : '') + to;

      return `${year}/${month}/${from} - ${to}`;
    },

    timezoneString() {
      let timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
      timeZone = timeZone.split('/');
      return timeZone[timeZone.length - 1];
    },

    timezoneAbbreviation() {
      return new Date().toString().match(/([A-Z]+[\\+-][0-9]+)/)[1];
    },

    disablePreviousButton() {
      let previous = utils.getFirstDayOfPreviousWeek(this.date);
      return (previous < utils.getFirstDayOfWeek(new Date));
    },
  },
}
</script>