<template>
  <div class="schedule-main">
    <ScheduleColumn
      v-for="(column, index) in columns"
      :key="index"
      :date="column"
      :items="getItemsOfColumn(column)"
    />
  </div>
</template>

<script>
import * as utils from './utils';
import ScheduleColumn from './ScheduleColumn';

export default {
  name: 'ScheduleMain',
  components: {
    ScheduleColumn,
  },

  props: {
    date: {
      type: Date,
      default: () => new Date,
    },
    items: {
      type: Array,
      default: () => [],
    },
  },

  data() {
    return {
      columns: utils.getDateListOfThisWeek(this.date),
    }
  },

  methods: {
    getItemsOfColumn(column) {
      let start = utils.getDateWithoutTime(column);
      let end = new Date(start.getFullYear(), start.getMonth(), start.getDate() + 1);

      return this.items.filter((item) => {
        if (item.time < start) return false;
        if (item.time >= end) return false;

        return true;
      })
    },
  },

  watch: {
    date(v) {
      this.columns = utils.getDateListOfThisWeek(v);
    }
  },
}
</script>