
@color-primary: #02cab9;

.schedule-panel {
	position: relative;
	overflow: hidden;
	min-height: 400px;

	&:not(.--full) {
		max-height: 400px;

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 80px;
			background: linear-gradient(rgba(255, 255, 255, 0), #fff 50%);
		}
	}
}

.schedule-panel__show-full {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;

	button {
		width: 60%;
		height: 43px;
		background: #fff;
		border: 1px solid @color-primary;
		border-radius: 2px;
		color: @color-primary;
		font-size: 0.875em;
		font-weight: bold;
		cursor: pointer;
		outline: 0;
	}
}

.schedule-control {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	.schedule-control__buttons {
		flex-shrink: 0;
	}

	.schedule-control__period {
		flex-shrink: 0;
		margin: 0 16px;
	}

	.schedule-control__text {
		flex: 1 0;
		margin: 6px 0;
		color: #444;
		font-size: 0.875em;
		text-align: right;
	}
}

.schedule-control__button {
	@button-radius: 4px;
	box-sizing: border-box;
	position: relative;
	width: 46px;
	height: 30px;
	background: 0;
	border: 1px solid #ccc;
	color: #555;
	cursor: pointer;
	outline: 0;
	transition: 0.3s ease-in-out;

	&:hover {
		z-index: 100;
		border-color: @color-primary;
		color: @color-primary;
	}

	&:first-child {
		border-radius: @button-radius 0 0 @button-radius;
	}

	&:last-child {
		border-radius: 0 @button-radius @button-radius 0;
	}

	& + & {
		margin-left: -1px;
	}

	&:disabled, &.--disabled {
		opacity: 0.5;
		color: #555;
		border-color: #ccc;
		cursor: not-allowed;
	}
}

.schedule-main {
	display: flex;
	flex-direction: row;
	margin: 15px auto;
}

.schedule-column {
	flex: 1 1 auto;
	box-sizing: border-box;
	padding: 0 5px;
	text-align: center;

	&.--disabled {
		opacity: 0.3;
	}
}

.schedule-column__head {
	padding: 6px 0;
	border-top: 4px solid @color-primary;

	p {
		line-height: 1.6;
		margin: 0;
	}
}

.schedule-column__item {
	margin: 12px 0;
	color: #999;
	font-size: 0.875em;
	font-weight: bold;

	&:not(.--booked) {
		color: @color-primary;
	}
}